@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
        
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
    width: 100%;
   
    
}

main {
    margin-top: auto;
    position: fixed;
    z-index: 1;
    transition: margin-left .5s;
    flex: 1;
    font-family: "Michroma", sans-serif;
    
}
.main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animação suave para opacidade e transformação */
    opacity: 0; /* Começa invisível */
    transform: translateX(10px); /* Levemente deslocado */
}

/* Estilo para o conteúdo ativo */
.main-content.active {
    opacity: 1; /* Torna o conteúdo visível */
    transform: translateX(0); /* Remove o deslocamento */
}

/* Adiciona uma leve transição ao conteúdo da main */
.main-content.hidden {
    opacity: 0; /* Torna o conteúdo invisível */
    transform: translateX(-10px); /* Desloca ligeiramente para a esquerda */
}
#sidebar.open-sidebar + main {
    margin-left: 10%; /* Ajusta o espaço ao abrir a sidebar */
}
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 3; /* Aumenta o z-index para garantir que a sidebar esteja acima de outros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para profundidade */
    border: 1px solid #ddd; /* Adiciona uma borda leve */
    transition: width 0.3s ease;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}



.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}


.side-item.active {
    background-color: #00690A;
    transform: scale(1.05); 
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
.side-item i {
    font-size: 1.4rem;
}
#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
    text-decoration: none;
}
#logout a{
color: #0a0a0a;
}


#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #00690A;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: right 0.3s ease;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}
header {
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* Fica acima da sidebar e do conteúdo principal */
    height: 65px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    
}

header h1 {
    padding-left: 12rem;
    margin: 0;
    font-family: "Michroma", sans-serif;
}

header img {
    max-width: 100px; /* Ajuste o tamanho conforme necessário */
    padding-right: 12px;
   
}





#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
    
    color: black;
}
.item-description span {
    color: #fff;

}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


#calendar-container {
    position: absolute;
    left: 110px; /* Posição à esquerda da tela */
    top: 60px; /* Posição em relação ao topo */
    width: 1390px;
    padding-top: 50px;
    border-color: 0.3 #00690A;
    
}

/* Ajuste conforme necessário */
@media screen and (max-width: 768px) {
    #calendar-container {
       right: 5px;/* Ajusta a posição em telas pequenas */
        top: 10px;
        right: 100px;
        width: calc(100% - 10px); /* Ajusta a largura para telas pequenas */
    }
}
:root {
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0, 0, 0, 15);
    --default-border-radius: 1.2rem;
}
span {
    color: #00690A;
}
.page-title {
    margin-top: 2.5rem;
    padding-left: 124px;    
    font-size: 3.6rem;
    text-shadow: 0px 2px 0px #f9f9f9;
    padding-left: 42%;
    margin-bottom: 1.6rem; /* Espaço entre o título e o formulário */

}






.btn-download{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 100px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.8s;


}
.btn-download:hover{
    background-color: #00690A;
    color: #fff;
}
.btn-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-80%, -50%);
    transform: all 0.8s;
}
.btn-download i{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: all 0.8s;
}
.btn-download:hover i{
    top: 50%;
}
.btn-download:hover .btn-text{
    top: -200%;
}
/* Estilo do formulário */


/* Ajuste dos campos do formulário */
main form input, main form select {
    width: calc(100% - 2rem); /* Ajuste para considerar o padding do formulário */
    height: 4.2rem;
    background-color: white;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    margin-bottom: 1.6rem;
    padding: 0.5rem;
}

/* Ajuste do botão */
.button {
    background-color: #65B307;
    height: 5.2rem;
    font-size: 2.4rem;
    border-radius: 2rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    cursor: pointer;
    border: none; /* Remove a borda padrão do botão */
    transition: background-color 0.3s ease;
    width: calc(100% - 2rem); /* Ajusta a largura do botão */
    margin-bottom: 2.4rem;
    padding: 0.5rem;
}

.button:hover{
    transform: scale(1.02);
}







/* Ajustes de responsividade */
@media screen and (max-width: 768px) {
    main {
        padding: 1rem; /* Ajusta o padding para telas menores */
    }

    main form {
        max-width: 100%; /* Garante que o formulário não exceda a largura da tela */
    }

    main form input, main form select, .button {
        width: calc(100% - 1rem); /* Ajusta a largura para telas menores */
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    background: #ffffff; /* Cor de fundo branca */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.6);/* Sombra leve */
    padding: 20px; /* Espaçamento interno */
    width: 100%; /* Largura total do contêiner */
    max-width: 700px; /* Largura máxima */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    position: relative;

}
main form {
    font-family: "Michroma", sans-serif;
    font-weight: bolder;
   width: 100%;
    margin: auto; /* Centraliza o formulário horizontalmente */
    margin-bottom: 0.5rem; /* Espaçamento abaixo do label */
    color: #00690A; 
    font-size: 1.4rem;

}
.input-container i {
    position: absolute;
    left: 1rem; /* Espaçamento da borda esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-100%); /* Ajusta para centralização vertical */
    font-size: 1.6rem; /* Tamanho do ícone */
    color: #00690A; /* Cor do ícone */
}

.input-container i {
    position: absolute;
    left: 1rem; /* Espaçamento da borda esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-100%); /* Ajusta para centralização vertical */
    font-size: 1.6rem; /* Tamanho do ícone */
    color: #00690A; /* Cor do ícone */
}
.input-container input   {
    width: 100%; /* Ocupa toda a largura do container */
    height: 3.8rem; /* Altura do campo de entrada */
    padding-left: 3.9rem; /* Espaçamento para o ícone */
    background-color: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    border-radius: 1.2rem;
    font-size: 1.5rem;
}
.input-container {
    position: relative;
    margin-bottom: 1.2rem;
    
}
.table-container {
    
    justify-content: center; /* Centraliza horizontalmente */
    overflow: auto;
  
    max-height: 400px;
}

table {

    border-collapse: collapse;
    margin: 1em 0; 
    overflow:scroll;
    height: 60px;
    font-size: 12px;

}

.table-jogador {
    padding-left: 30%;
    justify-content: center; /* Centraliza horizontalmente */
    overflow: auto;
    max-height: 400px;
    
}

th, td {
    border: 1px solid #d1c1c1;
    padding: 0.8rem;
    text-align: left;
}

th {
    background-color: #65B307;
    color: #ddd;
}
tb{
    padding: 0.8rem;
}
tbody tr:nth-child(even) {
    
    background-color: #f9f9f9;
}
.promo_card p{
    font-size: 11px;
}
.edit-btn {
    background-color: #65B307; /* Verde */
    color: white; /* Texto branco */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Exibição em linha com bloco */
    font-size: 12px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
    width: 100%;
}

.edit-btn:hover {
    background-color: #45a049; /* Cor mais escura ao passar o mouse */
}
.delete-btn {
    background-color: #f44336; /* Vermelho */
    color: white; /* Texto branco */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Exibição em linha com bloco */
    font-size: 12px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
    width: 100%;
}

.delete-btn:hover {
    background-color: #e53935; /* Cor mais escura ao passar o mouse */
}
.incrementar-btn {
    background-color: #00690A; /* Verde */
    color: white; /* Texto branco */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Exibição em linha com bloco */
    font-size: 12px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
    width: 100%;
}
.incrementar-btn:hover {
    background-color: #024a09; /* Cor mais escura ao passar o mouse */
}


.sidebar {
    width: 250px;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1000; /* Mantém a sidebar acima do conteúdo */
  transition: transform 0.3s ease;
  }
  
  .sidebar.open {
    transform: translateX(0); /* Move a sidebar para a tela */
  }
  
  .container.sidebar-open .main-body {
    margin-left: 250px; /* Ajusta a margem do conteúdo principal quando a sidebar está aberta */
  }
  
  .container.sidebar-open .sidebar {
    transform: translateX(0); /* Mostra a sidebar quando a classe 'sidebar-open' está presente */
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 200px; /* Ajuste a largura da sidebar para dispositivos menores */
    }
  }

/* Sidebar na direita */
@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .sidebar {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .main-body, .sidebar {
      width: 100%;
    }
  }
  
.sidebar {
    margin-top: 105px;
    width: 15%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: absolute; /* Fixa a sidebar na tela */
    top: 0; /* Posiciona no topo */
    right: 0; /* Alinha à direita */
    height: 63vh; /* Altura completa da tela */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.sidebar h2 {
    margin-bottom: 1.2rem;
}

.sidebar .balance {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.balance .icon {
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    margin-right: 1rem;
    padding: 1rem;
    background: #65B307;
}

.balance .info h5 {
    font-size: 16px;
}

.balance .info span {
    font-size: 14px;
    color: rgb(18, 17, 17);
}

.balance .info i {
    margin-right: 2px;
}

  .container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .main-body {
    flex: 1;
    width: calc(100% - 500px); /* Largura total menos a soma das larguras das sidebars */
    margin-left: 100px; /* Espaço para a sidebar principal */
    margin-right: 250px; /* Espaço para a sidebar adicional */    
    padding: 20px;
    margin-top: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: margin 0.3s ease;
  } 
.promo_card{
    width: 100%;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 1.5rem;
    background: #65B307;
    margin-bottom: 30px;
    
  }
  .promo_card h1, .promo_card span, .promo_card p, button{
    margin: 10px;
  }
  .promo_card button{
    display: block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  .history_lists{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  .list1{
    padding-right: 20px;
  }


/* Tela de carregamento */
#loading-screen {
    position: fixed;
    top: 60px; /* Ajuste conforme a altura do cabeçalho */
    left: 0;
    width: 100%;
    height: calc(100% - 60px); /* Ajuste para preencher o restante da tela */
    background: #e3e9f7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que a tela de carregamento esteja acima de outros conteúdos */
}

/* Estilos para o container do carregamento */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-image {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 20px; /* Espaçamento entre a imagem e o loader */
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #00690A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Ocultar o conteúdo principal até o carregamento ser concluído */
#main-content {
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease-in-out; /* Transição suave */
}

#loading-screen.hidden {
    display: none; /* Oculta a tela de carregamento */
}

#main-content.visible {
    opacity: 1; /* Torna o conteúdo visível */
}

.popup{
    width: 400px;
    height: 120px;
    background-color: #fff;
    border-radius: 6px;
    position: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #15451a;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.7);
    
    
}
.popup img{
    width: 50px;
    margin-top: -12%;
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.popup button{
  margin-top: 1rem;
  
}

.success-popup {
    border: 2px solid #4CAF50; /* Verde para sucesso */
}

.error-popup {
    border: 2px solid #F44336; /* Vermelho para erro */
}

.success-button {
    background-color: #28a745; /* Cor verde para sucesso */
}

.success-button:hover {
    background-color: #218838; /* Tom de verde mais escuro no hover */
}

.error-button {
    background-color: #dc3545; /* Cor vermelha para erro */
}

.error-button:hover {
    background-color: #c82333; /* Tom de vermelho mais escuro no hover */
}
.contatos {
    font-size: 18px;
    justify-content: space-around;
    display: flex;
    gap: 12px;
    padding-left: 980px; /* Corrigido de 1000px para 100px para um posicionamento mais razoável */
    color: #15451a;
}

.contatos p {
    margin-top: -0.3rem;
}

.contatos a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Garante que os links herdem a cor dos ícones */
    transition: transform 0.3s, color 0.3s;
}

.contatos .fa-brands.fa-instagram:hover { 
    background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.05);
    cursor: pointer;
}
.contatos .fa-brands.fa-whatsapp:hover { 
    
    color:#00690A;
    transform: scale(1.05);
    cursor: pointer;
}
.contatos .fa-solid.fa-envelope:hover { 
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,36,36,1) 50%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.05);
    cursor: pointer;
}

.contatos .fa-solid.fa-phone:hover { 
    color: #217f16;
    transform: scale(1.05);
    cursor: pointer;
}

.contatos .fa-solid.fa-location-dot:hover { 
    color: red;
    transform: scale(1.05);
    cursor: pointer;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #15451a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 16px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}
#cpf-search {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    padding-left: 30px;
}

.search-result {
    margin-top: 10px;
    font-size: 14px;


    
}
.search-result i{
    margin-top: 10px;
    font-size: 14px;
    left: 1rem; /* Espaçamento da borda esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateX(160%); /* Ajusta para centralização vertical */
    font-size: 1.6rem; /* Tamanho do ícone */
    color: #00690A;
    
}


#cpf-search i {
    position: absolute;
    left: 1rem; /* Espaçamento da borda esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-100%); /* Ajusta para centralização vertical */
    font-size: 1.6rem; /* Tamanho do ícone */
    color: #00690A; /* Cor do ícone */

}

.time-picker-container {
    width: 900px;
    background: #FFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 5%;
    left: 25%;
  }
  
  h4 {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  .time-picker {
    display: flex;
    flex-direction: column; /* Alinha os elementos dentro de time-picker em coluna */
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajuste conforme necessário */
    max-width: 900px; /* Ajuste conforme necessário */
    margin: 0 auto;
  }
  
  .date-slot {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-radius: 5px;
   gap: 30px;
}
.date-slot-item {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 5px 0;
    cursor: pointer;
}
  .date-slot-wrapper {
    display:flexbox;
    flex-direction: row; /* Exibe os itens horizontalmente */
    justify-content: center; /* Centraliza os itens horizontalmente dentro do wrapper */
    flex: 10; /* Garante que o wrapper use o espaço restante */
    flex-wrap: wrap;
    font-size: 14px;
    
  }
  
  
  
  .date-slot-item.active,
  .date-slot-item:hover {
    background: #00690A;
    color: #FFF;
    border-color: #00690A;
  }
  
  .date-slot-day {
    font-size: 16px;
    color: #666;
   
  }
  
  .date-slot-date {
    font-size: 24px;
    color: #333;
    gap: 10px;
  }
  
  .arrow {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #c0bebe;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .arrow.left {
    left: -35px;
  }
  
  .arrow.right {
    top: 28%;
    right: -35px;
  }
  
  .arrow:after {
    font-family: fontawesome;
    font-size: 20px;
    color: #FFF;
  }
  
  .arrow.left:after {
    content: '\f104';
  }
  
  .arrow.right:after {
    content: '\f105';
  }
  
  .arrow:hover {
    background: #00690A;
  }
  
  .time-slot {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .time-slot-item {
    font-size: 14px;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    flex-basis: 18%;
    transition: all 0.3s ease;
  }
  
  .time-slot-item:hover,
  .time-slot-item.picked {
    background: #00690A;
    border-color: #00690A;
    color: #FFF;
    transform: scale(1.05);
  }
  
  .time-slot-item.disabled {
    background: #ccc;
    color: #999;
    cursor: not-allowed;
    border-color: #ccc;
  }
  .time-slot-item.selected {
    background-color: #65B307; /* Cor de fundo quando selecionado */
    color: #fff; /* Cor do texto quando selecionado */
    border-color: #65B307; /* Cor da borda quando selecionado */
}
  /* CSS para o modal */
  #confirmation-modal,
  #success-modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o modal esteja acima de outros conteúdos */
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
  }
  
  .modal-content h4 {
    margin-top: 0;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000;
  }
  
  .calendar-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Ajuste conforme necessário */
  }
  
  /* Estilo para o ícone */
  .calendar-input-container i {
    position: absolute;
    left: 10px; /* Ajuste conforme necessário */
    font-size: 1.4rem; /* Ajuste conforme necessário */
    color: #00690A; /* Cor do ícone */
    pointer-events: none;
    transform: translateY(-52%); /* Garante que o ícone não interfira com o clique no input */
  }
  
  /* Estilo para o input */
  .calendar-input-container input {
    padding-left: 35px; /* Espaço para o ícone */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
  }
  
  #confirm-button {
    cursor: pointer;
    background-color: #65B307;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    display: block; /* Inicialmente oculto */
    width: 100%;
    height: 35  px;
    font-size: 14px;
  }
  
  #confirm-button:hover {
    background-color: #4b8a2f;
  }
  
  /* Estilo do botão Confirmar no Modal */
  #submit-confirmation {
    cursor: pointer;
    background-color: #65B307;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    display: block; /* Inicialmente oculto */
    width: 100%;
  }
  
  #submit-confirmation:hover {
    background-color: #4b8a2f;
  }
  
  /* Estilo do modal de sucesso */
  .done {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .done svg {
    width: 80px;
    height: 80px;
    fill: none;
  }
  
  .done .circ {
    stroke: #65B307;
  }
  
  .done .tick {
    stroke: #fff;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .text p {
    text-align: center;
    font-size: 13px;
  }
  
  .regards {
    text-align: center;
    margin-top: 20px;
  }

  .row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center; /* Centraliza o conteúdo na linha */
  } 

