* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0, 0, 0, 15);
    --default-border-radius: 1.2rem;
}

html, body {
    height: 100%;
    overflow: hidden; /* Evita rolagem */
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    background-color: white;
    position: relative;
}

.logo-img {
    width: 300px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    position: relative;
    z-index: 3; /* Garante que a logo esteja acima do slider */
    margin-top: 15vh; /* Ajusta a posição vertical conforme necessário */
}

.logo {
    width: 50px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.content {
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . .";
    gap: 11.5rem;
    position: relative;
    z-index: 2; /* Garantir que o conteúdo fique acima do slider */
}
main{
    position: relative;
    grid-area: form;
    width: 60rem;
    height: 35rem;
    padding-top: 4.4rem;
    padding: 4rem;
    border-radius: 3rem;
    background-color: white;
    z-index: 10; /* Garante que o conteúdo esteja acima do slider */
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.8); /* Adiciona a sombra */
    transform: translateY(11%);
}

aside {
    grid-area: hero;
}

aside h1 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    text-align: left;
}

span {
    color: #00690A;
}

main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}



main .action {
    display: flex;
    flex-flow: column;
}

main form input, main form select {
    width: 51.2rem;
    height: 4.2rem;
    background-color: white;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    margin-bottom: 1.6rem;
    padding: 0.5rem 0.5rem 0.5rem 3.8rem;
}

main form label {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
 
}

main header {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

main header i {
    color: #00690A;
    font-size: 3rem;
}

main form {
    margin-top: 1.6rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
}

main button {
    color: #00690A;
}



p {
    text-align: center;
}

.button {
    background-color:  #00690A;
    height: 6.5rem;
    font-size: 2.4rem;
    border-radius: 2rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    cursor: pointer;
    border: none; /* Remove a borda padrão do botão */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #65B307;
}

.button:active {
    background-color: #004106;
}

/* Estilos da seção slider_section */
.slider_section {
   
        width: 100%;
        height: 110vh; /* Garante que a seção ocupe a altura total da visualização */
        background: #00690A;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; /* Garante que o slider fique atrás do conteúdo */
        clip-path: ellipse(100% 65% at 3% 5%);
        animation: slideIn 3s forwards;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 2); /* Ajustado */
    
}

.slider_content {
    text-align: center;
    color: white;
}

.slider_content h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.slider_content button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    background-color: #ffffff;
    color: #00690A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider_content button:hover {
    background-color: #e0e0e0;
}

.logo-img {
    width: 300px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    position: relative;
    z-index: 3; /* Garante que a logo esteja acima do slider */
    margin-top: 15vh; /* Ajusta a posição vertical conforme necessário */
    transform: translateY(-7%);

}

.logo {
    width: 50px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
   
}


/* Container para o campo de entrada e o ícone */
.input-container {
    position: relative;
    width: 51.2rem; /* Largura do campo de entrada */
    margin-bottom: 1.6rem;
}

/* Estilo para o ícone dentro do campo de entrada */
.input-container i {
    position: absolute;
    left: 1rem; /* Espaçamento da borda esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-100%); /* Ajusta para centralização vertical */
    font-size: 1.6rem; /* Tamanho do ícone */
    color: #00690A; /* Cor do ícone */
}

/* Estilo para o campo de entrada */
.input-container input[type="text"] {
    width: 100%; /* Ocupa toda a largura do container */
    height: 4.2rem; /* Altura do campo de entrada */
    padding-left: 3.5rem; /* Espaçamento para o ícone */
    background-color: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    border-radius: 1.2rem;
    padding: 0.5rem 0.5rem 0.5rem 3rem; /* Ajusta o padding para o ícone */
    font-size: 1.4rem;
}
/* Container para o campo de entrada e o ícone */
.input-container {
    position: relative;
    width: 51.2rem; /* Largura do campo de entrada */
    margin-bottom: 1.6rem;
}

/* Estilo para o ícone dentro do campo de entrada */
.input-container i {
    position: absolute;
    left: 1rem; /* Espaçamento da borda esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-100%); /* Ajusta para centralização vertical */
    font-size: 1.6rem; /* Tamanho do ícone */
    color: #00690A; /* Cor do ícone */
}

/* Estilo para o campo de entrada */
.input-container input[type="text"], .input-container input[type="password"] {
    width: 100%; /* Ocupa toda a largura do container */
    height: 4.2rem; /* Altura do campo de entrada */
    padding-left: 3.5rem; /* Espaçamento para o ícone */
    background-color: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    border-radius: 1.2rem;
    padding: 0.5rem 0.5rem 0.5rem 3.8rem; /* Ajusta o padding para o ícone */
    font-size: 1.4rem;
}

.input-container i.fa-eye, 
    .input-container i.fa-eye-slash {
        position: absolute;
        right: 10px;
        top: 26%;
        transform: translateX(96%);
        cursor: pointer;
    }
    .popup h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .popup {
        width: 400px;
        height: 170px;
        background-color: #fff;
        border-radius: 6px;
        position: absolute;
        top: 50%; /* Ajusta o topo do popup para o meio da tela */
        left: 50%; /* Ajusta a esquerda do popup para o meio da tela */
        transform: translate(-138%, -50%); /* Centraliza o popup horizontal e verticalmente */
        text-align: center;
        padding: 10px; /* Adiciona um padding uniforme */
        color: #15451a;
        box-shadow: 0 30px 60px rgba(0, 0, 0, 0.9);
        z-index: 999; 
    }
    

    
    .popup img {
        width: 100px;
        margin-top: -20%; /* Ajuste conforme necessário */
        border-radius: 50%;
    }
    
    .popup button {
        margin-top: 1rem;
        width: calc(100% - 2rem);
        height: 4.2rem;
        font-size: 2.4rem;
        border-radius: 2rem;
        color: white;
        text-decoration: none;
        display: block; /* Torna o botão um bloco para aplicar margin auto */
        margin-left: auto; /* Centraliza o botão horizontalmente */
        margin-right: auto; /* Centraliza o botão horizontalmente */
    }
    
    /* Estilização para popups de sucesso e erro */
    .success-popup {
        border: 2px solid #4CAF50; /* Verde para sucesso */
    }
    
    .error-popup {
        border: 2px solid #F44336; /* Vermelho para erro */
        
    }
    
    /* Estilização dos botões de sucesso e erro */
    .success-button {
        background-color: #28a745; /* Cor verde para sucesso */
    }
    
    .success-button:hover {
        background-color: #218838; /* Tom de verde mais escuro no hover */
    }
    
    .error-button {
        background-color: #dc3545; /* Cor vermelha para erro */
    }
    
    .error-button:hover {
        background-color: #c82333; /* Tom de vermelho mais escuro no hover */
    }
    