/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* Definições globais para html e body */
html, body {
    height: 100%;
    overflow: hidden; /* Evita rolagem */
}

/* Outras definições */
:root {
    font-size: 62.5%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
    background-color: white;
    position: relative;
    min-height: 100vh;
}


.content {
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . .";
    gap: 11.5rem;
    position: relative;
    z-index: 3;
}

main {
    grid-area: form;
    background-color: white;
    z-index: 3;
    position: relative;
    transform: translateY(17%);
}

aside {
    grid-area: hero;
}

aside h1 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}

span {
    color: #00690A;
}

main {
    width: 60rem;
    height: 35rem;
    padding-top: 4.4rem;
    padding: 4rem;
    border-radius: 3rem;
    z-index: 10; /* Garante que o conteúdo esteja acima do slider */
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.8); /* Adiciona a sombra */

}


main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

main .action {
    display: flex;
    flex-flow: column;
}

main .action a {
    background-color: #00690A;
    height:6.5rem;
    font-size: 2.4rem;
    border-radius: 2rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.1rem;
}

main .action a + a {
    background-color: #00690A;
    margin-top: 6rem;
}

main footer p {
    margin-top: 4rem;
    font-size: 1.6rem;
    text-align: center;

}

main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: black;
}

/* Estilos da seção slider_section */
.slider_section {
    width: 100%;
    height: 110vh; /* Garante que a seção ocupe a altura total da visualização */
    background: #00690A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    clip-path: ellipse(100% 65% at 3% 5%);
    animation: slideIn 3s forwards;
}

.slider_content {
    text-align: center;
    color: white;
}

.slider_content h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.slider_content button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    background-color: #ffffff;
    color: #00690A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider_content button:hover {
    background-color: #e0e0e0;
}

.logo-img {
    width: 300px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    position: relative;
    z-index: 3; /* Garante que a logo esteja acima do slider */
    margin-top: 15vh; /* Ajusta a posição vertical conforme necessário */
}

.logo {
    width: 50px; /* Ajuste o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
   
}
.button:hover {
    background-color: #005508;
}
.action a:hover{
    background-color: #65B307;
}

aside h1 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    text-align: left;
}

span {
    color: #00690A;
}

main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}



main .action {
    display: flex;
    flex-flow: column;
}

main form input, main form select {
    width: 51.2rem;
    height: 4.2rem;
    background-color: white;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    margin-bottom: 1.6rem;
    padding: 0.5rem 0.5rem 0.5rem 3.8rem;
}

main form label {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
 
}

main header {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

main header i {
    color: #00690A;
    font-size: 3rem;
}

main form {
    margin-top: 1.6rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
}

main button {
    color: #00690A;
}

p {
    text-align: center;
}

.button {
    background-color: #65B307;
    height: 6.5rem;
    font-size: 2.4rem;
    border-radius: 2rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    cursor: pointer;
    border: none; /* Remove a borda padrão do botão */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005508;
}

.button:active {
    background-color: #004106;
}

/* Estilos da seção slider_section */
.slider_section {
    width: 100%;
    height: 110vh; /* Garante que a seção ocupe a altura total da visualização */
    background: #00690A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Garante que o slider fique atrás do conteúdo */
    clip-path: ellipse(100% 65% at 3% 5%);
    animation: slideIn 3s forwards;
}

.slider_content {
    text-align: center;
    color: white;
}

.slider_content h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.slider_content button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    background-color: #ffffff;
    color: #00690A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider_content button:hover {
    background-color: #e0e0e0;
}

.popup{
    width: 400px;
    height: 170px;
    background-color: #fff;
    border-radius: 6px;
    position: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #15451a;
    
    
}
.popup img{
    width: 100px;
    margin-top: -20%;
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.popup button{
  margin-top: 2rem;
  
}

.success-popup {
    border: 2px solid #4CAF50; /* Verde para sucesso */
}

.error-popup {
    border: 2px solid #F44336; /* Vermelho para erro */
}

.success-button {
    background-color: #28a745; /* Cor verde para sucesso */
}

.success-button:hover {
    background-color: #218838; /* Tom de verde mais escuro no hover */
}

.error-button {
    background-color: #dc3545; /* Cor vermelha para erro */
}

.error-button:hover {
    background-color: #c82333; /* Tom de vermelho mais escuro no hover */
}
