<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/script.js" defer></script>
    <title>Nossa Arena - Login</title>
    <link rel="stylesheet" href="./../static/images/assets/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.css">
    <link rel="stylesheet" href="./../static/css/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
 <!-- Slider Section -->
 <section class="slider_section">
    <div class="slider_content">

    </div>
</section>
<body class="content">
    <aside>
        <img src="../static/images/WhatsApp_Image_2024-07-20_at_15.43.02-removebg-preview.png" alt="" class="logo-img">
    </aside>
    
    <main>
        
        <header>
            <aside>
                <img src="assets/WhatsApp_Image_2024-07-20_at_15.43.02-removebg-preview.png" alt="" class="logo">
            </aside>
            <a href="index.html">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            <h2>Início de <span>sessão</span></h2>
        </header>
        <form id="loginForm">
            
            
            

            <label for="loginCpf"></label>
            <div class="input-container">
                <i class="fa-solid fa-address-card"></i>
                <input type="text" id="cpf" class="cpf" placeholder="Digite seu CPF...">
            </div>
            <label for="loginSenha"></label>
            <div class="input-container">
                <i class="fa-solid fa-key"></i>
                <input type="password" id="senha" class="senha" placeholder="Digite sua senha...">
              </div>
                
            <div class="action">
                <button type="submit" class="button">Entrar</button>
            </div>
        
            
        </form>
    </main>
</body>
</html>
