<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <link rel="stylesheet"
        href="./../static/images/assets/fontawesome-free-6.5.2-web/fontawesome-free-6.5.2-web/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../static/images/WhatsApp_Image_2024-07-20_at_15.43.02-removebg-preview.png">
    <title>Nossa Arena</title>
    <style>
        body {
            background-color: white;
            background-image: url(../static/images/blob-scene-haikei\ \(3\)_upscayl_4x_realesrgan-x4plus.png);
            background-repeat: no-repeat;
            /* Impede a repetição da imagem */
            background-size: cover;
        }

        .input-container i {
            position: absolute;
            left: 1rem;
            /* Espaçamento da borda esquerda */
            top: 50%;
            /* Centraliza verticalmente */
            transform: translateY(-50%);
            /* Ajusta para centralização vertical */
            font-size: 1.6rem;
            /* Tamanho do ícone */
            color: #00690A;
            /* Cor do ícone */
        }

        #error-popup {
            position: fixed;
            top: 40%;
            left: 53%;
            transform: translate(-54%, -50%);
            z-index: 9999;
            /* Garante que está na frente de outros elementos */
            background-color: white;
            border: 1px solid #ff0000;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        #error-popup img {
            width: 50px;
            height: 50px;
        }

        #error-popup .error-button {
            margin-top: 11px;
        }

        #error-popup.active {
            display: block;
            /* Exibe o popup quando ativado */
        }
    </style>

</head>

<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="../static/images/WhatsApp_Image_2024-07-20_at_15.43.02-removebg-preview.png" id="user_avatar"
                    alt="Avatar">
                <p id="user_infos">
                    <span class="item-description">Nossa Arena</span>
                    <span class="item-description">Software</span>
                </p>
            </div>
            <ul id="side_items">
                <li class="side-item">
                    <a href="home.html">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">Inicio</span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="dashboard.html">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">Dashboard</span>
                    </a>
                </li>
                <li class="side-item">
                    <a href="horario.html">
                        <i class="fa-solid fa-clock"></i>
                        <span class="item-description">Horarios</span>
                    </a>
                <li class="side-item active">
                    <a href="calendar.html">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span class="item-description">Calendário</span>
                    </a>
                </li>
                <li class="side-item">
                    <a href="cadastro.html">
                        <i class="fa-solid fa-address-card"></i>
                        <span class="item-description">Cadastro</span>
                    </a>
                </li>
                <li class="side-item">
                    <a href="jogadores.html">
                        <i class="fa-solid fa-futbol"></i>
                        <span class="item-description">Jogadores</span>
                    </a>
                </li>

                <button id="open_btn">
                    <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
                </button>
        </div>
        <div id="logout">
            <a href="index.html">
                <button id="logout_btn">
                    <i class="fa-solid fa-right-from-bracket"></i>
            </a>
            <span class="item-description">
                Logout
            </span>

            </button>
        </div>
    </nav>

    <div class="popup sair-popup" id="confirmExitPopup" style="display: none;">
        <aside>
            <img src="../static/images/WhatsApp_Image_2024-07-20_at_15.43.02-removebg-preview.png" alt=""
                class="logo-img">
        </aside>
        <h2>Deseja sair?</h2>

        <div class="popup-buttons">
            <button id="confirmExit">Sim</button>
            <button id="cancelExit">Cancelar</button>
        </div>
    </div>


    <main>
        <header>
            <h1>Nossa <span>Arena</span></h1>
            <div class="contatos">
                <a href="https://www.instagram.com/nossarena_/"><i class="fa-brands fa-instagram"></i></a>
                <p>|</p>
                <a
                    href="https://api.whatsapp.com/send/?phone=5531999575269&text=Oi!+Vim+pelo+Instagram+e+queria+informa%C3%A7%C3%B5es+sobre+a+NossArena!&type=phone_number&app_absent=0">
                    <i class="fa-brands fa-whatsapp"></i></a>
                <p>|</p>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                <p>|</p>
                <a href="#" id="phone-icon"><i class="fa-solid fa-phone"></i></a>
                <p>|</p>
                <a
                    href="https://www.google.com/maps/place/NossArena+Uruc%C3%A2nia/@-20.3589574,-42.7521078,17z/data=!3m1!4b1!4m6!3m5!1s0xa4b9c6f8a90ad7:0x7833dfc79ca6d117!8m2!3d-20.3589574!4d-42.7521078!16s%2Fg%2F11vjg0w6hq?entry=ttu">
                    <i class="fa-solid fa-location-dot"></i>
                </a>
                <div id="notification" style="display: none;">Número de telefone copiado!</div>
            </div>
            <img src="../static/images/WhatsApp_Image_2024-07-20_at_15.43.02-removebg-preview.png"
                id="user_avatar_secondary" alt="Avatar">
        </header>




        <div class="time-picker">
            <h1>Calendario <span> <i class="fa-solid fa-calendar-days"></i></span></h1>
            <div class="time-picker-header">
                <button class="arrow left"></button>
                <ul class="date-slot" id="date-slots">
                    <!-- Dinamically generated date slots -->
                </ul>
                <button class="arrow right"></button>
            </div>
            <div class="time-picker-body">
                <ul class="time-slot" id="time-slots">
                    <!-- Dinamically generated time slots -->
                </ul>
            </div>
        </div>

        </div>
    </main>
    <div id="confirmation-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeConfirmationModal()">&times;</span>
            <h4>Confirme seus Dados</h4>
            <form id="confirmation-form">
                <label for="selected-date"></label>
                <div class="input-container">
                    <i class="fa-solid fa-calendar-days"></i>
                    <input type="text" id="selected-date" readonly>
                </div>

                <label for="selected-time"><label>
                        <div class="input-container">
                            <i class="fa-solid fa-clock"></i>
                            <input type="text" id="selected-time" readonly>
                        </div>

                        <label for="cpf"></label>
                        <div class="input-container">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" id="cpf" placeholder="000.000.000-00" required>
                        </div>

          
                        <div class="input-container-select">
                            <i class="fa-solid fa-money-bill-wave"></i>
                            <select id="preco">
                                <option value="120">R$ 120,00</option>
                                <option value="100">R$ 100,00</option>
                                <option value="custom">Outro</option>
                            </select>
                        </div>
                        
                        <!-- Campo de preço personalizado -->
                        <div id="custom-price-container" class="input-container" style="display: none;">
                            <i class="fa-solid fa-money-bill-wave"></i>
                            <input type="number" id="custom-price" min="0" step="0.01" placeholder="Digite o preço">
                        </div>
                        
                        

                        


                        <button id="submit-confirmation" type="submit">Confirmar Agendamento</button>
            </form>
            <div class="additional-options">
                <button class="btn red" id="delete-time">Excluir Horário</button>
                <button class="btn blue" id="school-time">Horário Escolinha</button>
            </div>
        </div>
    </div>
    <div id="confirmPaymentPopup" class="popup" style="display: none;">
        <img src="../static/images/Imagem1.png">
        <h2>Tem certeza que deseja marcar este pagamento como concluído?</h2>
        <div class="popup-buttons">
            <button id="confirmPaymentButton">Sim</button>
            <button id="cancelPaymentButton">Cancelar</button>
        </div>
    </div>

    <div id="success-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeSuccessModal()">&times;</span>
            <div class="done">
                <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 37 37"
                    style="enable-background:new 0 0 37 37;" xml:space="preserve">
                    <path class="circ path"
                        style="fill:#00690A;stroke: #65B307;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;"
                        d="M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z" />
                    <polyline class="tick path"
                        style="fill:none;stroke:#fff;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;"
                        points="11.6,20 15.9,24.2 26.4,13.8 " />
                </svg>
            </div>




            <h1>Agendado com sucesso!</h1>
            <div class="text">
                <p>Você agendou com sucesso.<br>Detalhes:<br>Data: <span id="success-date"></span><br>
                    Horário: <span id="success-time"></span><br>
                    ID: <span id="success-id"></span>


                </p>
                <p>Ansiosos para sua visita!</p>
                <p> <button onclick="gerarPDF()">Salvar como PDF</button></p>
            </div>
            <p class="regards">Atenciosamente, Equipe Nossa Arena.</p>

        </div>
    </div>
    <div class="popup error-popup" id="error-popup" style="display: none;">
        <img src="../static/images/Wrong-PNG-Photos.png">
        <h2>CPF inválido</h2>

        <button type="button" class="button error-button" id="closeErrorPopupBtn">Ok</button>
    </div>

    <script>

        function convertSvgToImage(svgElement) {
            return new Promise((resolve, reject) => {
                const svgData = new XMLSerializer().serializeToString(svgElement);
                const svgBlob = new Blob([svgData], { type: 'image/svg+xml;charset=utf-8' });
                const url = URL.createObjectURL(svgBlob);

                const img = new Image();
                img.onload = () => {
                    resolve(img);
                    URL.revokeObjectURL(url);
                };
                img.onerror = reject;
                img.src = url;
            });
        }

        async function gerarPDF() {
            const successModal = document.querySelector('#success-modal .modal-content');
            const doneElement = document.querySelector('.done');

            if (!successModal || !doneElement) {
                alert('Modal ou elemento "done" não encontrado!');
                return;
            }

            // Salva o conteúdo original do `.done` (contém o SVG)
            const originalContent = doneElement.innerHTML;

            // Substitui temporariamente o SVG pelo emoji
            doneElement.innerHTML = '<span style="font-size: 100px; color: #00690A;">✅</span>';

            // Adiciona a classe de layout para PDF
            successModal.classList.add('pdf-layout');

            const options = {
                margin: 1, // Margem de 1cm
                filename: 'comprovante_agendamento.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2, useCORS: true },
                jsPDF: { unit: 'cm', format: 'a4', orientation: 'portrait' }
            };

            // Gera o PDF
            html2pdf()
                .set(options)
                .from(successModal)
                .save()
                .then(() => {
                    // Restaura o conteúdo original (SVG)
                    doneElement.innerHTML = originalContent;

                    // Remove a classe de layout
                    successModal.classList.remove('pdf-layout');
                })
                .catch((error) => {
                    console.error('Erro ao gerar o PDF:', error);

                    // Restaura o conteúdo original (SVG) em caso de erro
                    doneElement.innerHTML = originalContent;
                    successModal.classList.remove('pdf-layout');
                });
        }




        // Função para fechar o modal de confirmação
        function closeConfirmationModal() {
            const modal = document.getElementById('confirmation-modal');
            modal.style.display = 'none';
        }

        // Função para fechar o modal de sucesso
        function closeSuccessModal() {
            const modal = document.getElementById('success-modal');
            modal.style.display = 'none';
        }
        document.getElementById('open_btn').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('open-sidebar');
        });

        document.addEventListener('DOMContentLoaded', function () {
            const apiUrl = 'http://localhost:8080/api/agenda'; // URL da API para buscar os horários

            // Função para carregar os horários


            document.addEventListener('DOMContentLoaded', function () {
                const apiUrl = 'http://localhost:8080/api/agenda'; // URL to fetch the schedule data
                const dateSlots = document.getElementById('date-slots'); // Slot container

                // Function to load and display only the current date initially
                function loadCurrentDate() {
                    const hoje = new Date().toISOString().split('T')[0]; // Data de hoje no formato 'YYYY-MM-DD'

                    fetch(apiUrl)
                        .then(response => response.json())
                        .then(data => {
                            const hojeData = data.filter(item => item.dia === hoje);
                            renderDates(hojeData); // Renderiza com a data formatada
                        })
                        .catch(error => console.error('Erro ao carregar a agenda:', error));
                }


                // Function to render dates dynamically
                function renderDates(data) {
                    const dateSlots = document.getElementById('date-slots');
                    dateSlots.innerHTML = ''; // Limpa as datas anteriores
                    data.forEach(item => {
                        const li = document.createElement('li');
                        li.className = 'date-slot-item';
                        li.textContent = formatarData(item.dia); // Chama a função formatada
                        dateSlots.appendChild(li);
                    });
                }



                // Load previous or next dates based on the direction (left or right arrow)
                function loadAdjacentDates(direction) {
                    const today = new Date().toISOString().split('T')[0];

                    fetch(apiUrl)
                        .then(response => response.json())
                        .then(data => {
                            const filteredData = data.filter(item => {
                                return (direction === 'left' && item.dia < today) ||
                                    (direction === 'right' && item.dia > today);
                            });
                            renderDates(filteredData);
                        })
                        .catch(error => console.error('Error loading adjacent dates:', error));
                }

                // Event listeners for arrow buttons
                document.querySelector('.arrow.left').addEventListener('click', function () {
                    loadAdjacentDates('left'); // Load past dates
                });

                document.querySelector('.arrow.right').addEventListener('click', function () {
                    loadAdjacentDates('right'); // Load future dates
                });

                // Load the current date's schedule on page load
                loadCurrentDate();
            });


            // Função para exibir o modal de confirmação
            function showConfirmationModal(dia, hora) {
                const modal = document.getElementById('confirmation-modal');
                const selectedDate = document.getElementById('selected-date');
                const selectedTime = document.getElementById('selected-time');

                selectedDate.value = formatarData(dia); // Aplica a função formatada aqui
                selectedTime.value = hora;

                modal.style.display = 'block';
            }
            function showErrorPopup(message) {
                const errorPopup = document.getElementById('error-popup');


                if (errorPopup) {
                    errorPopup.style.display = 'block'; // Mostra o popup
                    errorPopup.classList.add('active'); // Garante visibilidade imediata
                }
            }

            // Fecha o popup de erro
            document.getElementById('closeErrorPopupBtn').addEventListener('click', function () {
                const errorPopup = document.getElementById('error-popup');
                if (errorPopup) {
                    errorPopup.style.display = 'none'; // Esconde o popup
                    errorPopup.classList.remove('active'); // Remove a classe ativa
                }
            });



            // Elementos do DOM 
            const deleteTimeButton = document.getElementById('delete-time');
            const confirmPaymentPopup = document.getElementById('confirmPaymentPopup');
            const confirmPaymentButton = document.getElementById('confirmPaymentButton');
            const cancelPaymentButton = document.getElementById('cancelPaymentButton');
            const popupTitle = confirmPaymentPopup.querySelector('h2');
            let selectedDate, selectedTime; // Variáveis para armazenar data e hora selecionadas

            // Função para exibir o pop-up
            function showConfirmationPopup() {
                popupTitle.textContent = 'Tem certeza que deseja excluir este horário?';
                confirmPaymentPopup.style.display = 'block'; // Exibe o pop-up
                document.body.insertAdjacentHTML(
                    'beforeend',
                    '<div class="popup-backdrop"></div>' // Adiciona o fundo escuro
                );
                document.querySelector('.popup-backdrop').style.display = 'block';
            }

            // Função para fechar o pop-up
            function closePopup() {
                confirmPaymentPopup.style.display = 'none'; // Oculta o pop-up
                const backdrop = document.querySelector('.popup-backdrop');
                if (backdrop) {
                    backdrop.remove(); // Remove o fundo escuro
                }
            }

            // Evento para exibir o pop-up ao clicar no botão "Excluir Horário"
            deleteTimeButton.addEventListener('click', (e) => {
                e.preventDefault(); // Previne a execução direta
                selectedDate = document.getElementById('selected-date').value; // Captura a data selecionada
                selectedTime = document.getElementById('selected-time').value; // Captura o horário selecionado
                showConfirmationPopup(); // Exibe o pop-up de confirmação
            });

            // Evento para confirmar a exclusão
            confirmPaymentButton.addEventListener('click', () => {
                // Verifica no banco de dados o horário correspondente
                fetch(`http://localhost:8080/api/agenda?dia=${selectedDate}`)
                    .then(response => response.json())
                    .then(agendas => {
                        const horario = agendas.find(item =>
                            item.hora === selectedTime && item.dia === selectedDate // Verifica dia e hora
                        );

                        if (!horario) {

                            closePopup(); // Fecha o pop-up
                            return;
                        }

                        // Chamada para excluir o horário pelo ID
                        fetch(`http://localhost:8080/api/agenda/${horario.id}`, {
                            method: 'DELETE',
                        })
                            .then(response => {
                                if (response.ok) {
                                    alert('Horário excluído com sucesso!');
                                    // Remove o botão correspondente na interface
                                    const buttons = document.querySelectorAll('#time-slots button');
                                    buttons.forEach(button => {
                                        if (button.textContent === selectedTime) {
                                            button.parentElement.remove(); // Remove o botão do DOM
                                        }
                                    });
                                    closeConfirmationModal()
                                } else {
                                    alert("Erro: Não foi possível excluir o horário.");
                                }
                            })
                            .catch(error => {
                                console.error("Erro ao realizar requisição de exclusão:", error);
                                alert("Erro: Não foi possível conectar ao servidor.");
                            })
                            .finally(() => {
                                closePopup(); // Garante que o pop-up seja fechado
                            });
                    })
                    .catch(error => {
                        console.error("Erro ao buscar horários no backend:", error);
                        alert("Erro: Não foi possível buscar os horários no banco de dados.");
                        closePopup(); // Garante que o pop-up seja fechado em caso de erro
                    });
            });

            // Evento para cancelar a ação
            cancelPaymentButton.addEventListener('click', closePopup);



            // Dentro do listener de submit
            document.getElementById('confirmation-form').addEventListener('submit', function (event) {
                event.preventDefault(); // Evitar o comportamento padrão do formulário

                console.log("Formulário de confirmação submetido.");

                // Captura os valores dos campos
                const cpfUser = document.getElementById('cpf').value.trim();
                const dataPartida = document.getElementById('selected-date').value; // Data da agenda selecionada
                const horario = document.getElementById('selected-time').value; // Hora da agenda selecionada
                const errorPopup = document.getElementById('error-popup');

                const precoSelect = document.getElementById('preco'); // Dropdown do preço
                const customPriceInput = document.getElementById('custom-price'); // Campo para preço personalizado

                // Captura o preço final (fixo ou personalizado)
                const preco = precoSelect.value === 'custom'
                    ? parseFloat(customPriceInput.value)
                    : parseFloat(precoSelect.value);

                // Valida o preço
                if (isNaN(preco) || preco < 0) {
                    alert("Por favor, insira um preço válido.");
                    return;
                }

                const dadosAgendamento = {
                    cpfUser: cpfUser,
                    dataPartida: dataPartida,
                    horario: horario,
                    precoCobrado: preco
                };
                console.log('Dados de agendamento:', dadosAgendamento);

                // Faz a requisição para criar a nova Partida
                fetch('http://localhost:8080/partidas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dadosAgendamento)
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.json().then(errorData => {
                                if (errorData.message && errorData.message.includes("O CPF informado é inválido ou não existe.")) {
                                    showErrorPopup("O CPF informado é inválido ou não existe.");
                                } else {
                                    showErrorPopup(`Erro: ${errorData.message || "Erro desconhecido."}`);
                                }
                                throw new Error(errorData.message); // Interrompe o processamento
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.id) { // Verifica se a Partida foi criada com sucesso
                            closeConfirmationModal();
                            showSuccessModal(dataPartida, horario, data.id);

                            // Atualiza o botão para indicar que a data/hora não está mais disponível
                            const buttons = document.querySelectorAll('#time-slots button');
                            buttons.forEach(button => {
                                if (button.textContent === horario) {
                                    button.disabled = true; // Desabilita o botão
                                    button.className = 'reservado'; // Atualiza a classe para reservado
                                }
                            });

                            const agendaUpdate = {
                                statusAgendamento: false, // Atualiza status para reservado
                                partida: {
                                    id: data.id, // ID da partida criada
                                    cpfUser: data.cpfUser, // CPF do usuário
                                    dataPartida: data.dataPartida, // Data da partida
                                    horario: data.horario, // Horário da partida
                                    precoCobrado: preco // Atualiza a agenda com o preço correto
                                }
                            };

                            console.log('Agenda Update Payload:', agendaUpdate); // Verifica o payload enviado

                            // Faz a requisição para atualizar a AGENDA
                            fetch(`http://localhost:8080/api/agenda/update/${dataPartida}/${horario}`, {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(agendaUpdate) // Envia o ID correto da Partida para a Agenda
                            })
                                .then(updateResponse => {
                                    if (!updateResponse.ok) {
                                        throw new Error('Erro ao atualizar a tabela AGENDA.');
                                    }
                                    return updateResponse.json();
                                })
                                .then(updatedData => {
                                    console.log('Agenda atualizada com sucesso:', updatedData);
                                })
                                .catch(error => {
                                    console.error('Erro ao atualizar a tabela AGENDA:', error);
                                });

                            // Incremento de partidas
                            fetch(`http://localhost:8080/usuarios/${cpfUser}/incrementar-partidas`, {
                                method: 'PUT'
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Erro ao incrementar a quantidade de partidas.');
                                    }
                                    return response.json();
                                })
                                .then(updatedUser => {
                                    console.log('Quantidade de partidas incrementada para o usuário:', updatedUser);
                                })
                                .catch(error => {
                                    console.error('Erro ao incrementar a quantidade de partidas:', error);
                                });
                        } else {
                            alert('Erro ao agendar. Tente novamente.');
                            console.log(data);
                        }
                    })
                    .catch(error => console.error('Erro ao criar a partida:', error));
            });

            // Função para exibir o modal de sucesso
            function showSuccessModal(dia, hora, id) {
                const successModal = document.getElementById('success-modal');
                document.getElementById('success-date').textContent = formatarData(dia); // Usa a função formatada aqui
                document.getElementById('success-time').textContent = hora;
                document.getElementById('success-id').textContent = id;

                successModal.style.display = 'block';
            }


            // Fechar modal ao clicar fora dele
            window.onclick = function (event) {
                const confirmationModal = document.getElementById('confirmation-modal');
                const successModal = document.getElementById('success-modal');
                if (event.target === confirmationModal) {
                    closeConfirmationModal();
                }
                if (event.target === successModal) {
                    closeSuccessModal();
                }
            }

            // Carregar os horários ao iniciar a página

        });
        document.getElementById('logout_btn').addEventListener('click', function (event) {
            event.preventDefault(); // Impede o redirecionamento imediato
            document.getElementById('confirmExitPopup').style.display = 'block'; // Mostra o popup
        });

        document.getElementById('confirmExit').addEventListener('click', function () {
            window.location.href = 'index.html'; // Redireciona para a página de logout
        });

        document.getElementById('cancelExit').addEventListener('click', function () {
            document.getElementById('confirmExitPopup').style.display = 'none'; // Fecha o popup
        });
        // Função para fechar o modal de erro
        function closeErrorModal() {
            const modal = document.getElementById('error-modal');
            modal.style.display = 'none';
        }

        // Função para abrir o modal de erro
        function openErrorModal() {
            const modal = document.getElementById('error-modal');
            modal.style.display = 'block';
        }

        // Função para obter a data atual no horário local
        function obterDataLocal(offsetDias = 0) {
            const hoje = new Date();
            hoje.setDate(hoje.getDate() + offsetDias); // Adiciona/subtrai dias
            const ano = hoje.getFullYear();
            const mes = String(hoje.getMonth() + 1).padStart(2, '0'); // Meses começam em 0
            const dia = String(hoje.getDate()).padStart(2, '0');
            return `${ano}-${mes}-${dia}`; // Retorna no formato 'YYYY-MM-DD'
        }

        document.addEventListener('DOMContentLoaded', function () {
            const apiUrl = 'http://localhost:8080/api/agenda'; // URL para buscar os dados da agenda
            let currentDateIndex = 0;
            let datesList = [];

            function loadDates() {
                fetch(apiUrl)
                    .then(response => response.json())
                    .then(data => {
                        // Ordena as datas retornadas pela API
                        datesList = data.map(item => item.dia).sort();

                        // Calcula hoje e ontem com base no horário local
                        const hojeLocal = obterDataLocal(0); // Hoje no horário local
                        const ontemLocal = obterDataLocal(-1); // Ontem no horário local

                        // Prioriza hoje se estiver na lista, senão tenta ontem
                        currentDateIndex = datesList.indexOf(hojeLocal);
                        if (currentDateIndex === -1) {
                            currentDateIndex = datesList.indexOf(ontemLocal);
                        }

                        // Verifica se encontrou uma data válida
                        if (currentDateIndex !== -1) {
                            loadAgenda(datesList[currentDateIndex]);
                        }
                    })
                    .catch(error => {
                        // Opcional: log de erro apenas em ambiente de desenvolvimento
                    });
            }

            function loadAgenda(date) {
                fetch(apiUrl)
                    .then(response => response.json())
                    .then(data => {
                        const filteredData = data.filter(item => item.dia === date);
                        renderDate(date);
                        renderTimeSlots(filteredData);
                    })
                    .catch(error => {
                        // Opcional: log de erro apenas em ambiente de desenvolvimento
                    });
            }
            
            // Função para exibir a data selecionada
            function renderDate(date) {
                const dateSlots = document.getElementById('date-slots');
                dateSlots.innerHTML = `<li class="date-slot-item">${formatarData(date)}</li>`;
            }

            // Função para exibir os horários
            function renderTimeSlots(data) {
                const timeSlots = document.getElementById('time-slots');
                timeSlots.innerHTML = ''; // Limpa os slots de tempo

                data.sort((a, b) => a.hora.localeCompare(b.hora)); // Ordena os horários

                data.forEach(item => {
                    const li = document.createElement('li');
                    const button = document.createElement('button');

                    if (item.escolinha) {
                        // Se for horário da escolinha
                        button.className = 'escolinha';
                        button.textContent = `${item.hora} (Escolinha)`;
                        button.disabled = true; // Botão desativado
                    } else if (!item.statusAgendamento) {
                        // Se o horário está reservado
                        button.className = 'reservado';
                        button.textContent = item.hora;
                        button.disabled = true;
                    } else {
                        // Se o horário está disponível
                        button.className = 'disponivel';
                        button.textContent = item.hora;
                        button.addEventListener('click', () => {
                            showConfirmationModal(item.dia, item.hora);
                        });
                    }

                    li.appendChild(button);
                    timeSlots.appendChild(li);
                });
            }




            function prevDate() {
                while (currentDateIndex > 0) {
                    currentDateIndex--;
                    if (datesList[currentDateIndex] !== datesList[currentDateIndex + 1]) {
                        loadAgenda(datesList[currentDateIndex]);
                        break;
                    }
                }
            }

            function nextDate() {
                while (currentDateIndex < datesList.length - 1) {
                    currentDateIndex++;
                    if (datesList[currentDateIndex] !== datesList[currentDateIndex - 1]) {
                        loadAgenda(datesList[currentDateIndex]);
                        break;
                    }
                }
            }


            // Event listeners para as setas de navegação
            document.querySelector('.arrow.left').addEventListener('click', prevDate);
            document.querySelector('.arrow.right').addEventListener('click', nextDate);

            // Carrega as datas e a agenda da data atual no carregamento da página
            loadDates();
        });

        // Elementos do DOM
        // Elementos do DOM
        const schoolTimeButton = document.getElementById('school-time');
        const confirmPaymentPopup = document.getElementById('confirmPaymentPopup');
        const confirmPaymentButton = document.getElementById('confirmPaymentButton');
        const cancelPaymentButton = document.getElementById('cancelPaymentButton');
        const popupTitle = confirmPaymentPopup.querySelector('h2');
        let selectedDate, selectedTime; // Variáveis para armazenar data e hora selecionadas

        // Função para exibir o pop-up
        function showConfirmationPopup(message, actionCallback) {
            popupTitle.textContent = message; // Define a mensagem do pop-up
            confirmPaymentPopup.style.display = 'block'; // Exibe o pop-up
            document.body.insertAdjacentHTML(
                'beforeend',
                '<div class="popup-backdrop"></div>' // Adiciona o fundo escuro
            );
            document.querySelector('.popup-backdrop').style.display = 'block';

            // Define o evento de confirmação no botão "Sim"
            confirmPaymentButton.onclick = () => {
                actionCallback(); // Executa a ação específica
                closePopup(); // Fecha o modal
            };

            // Cancela a ação ao clicar em "Cancelar"
            cancelPaymentButton.onclick = closePopup;
        }

        // Função para fechar o pop-up
        function closePopup() {
            confirmPaymentPopup.style.display = 'none'; // Oculta o pop-up
            const backdrop = document.querySelector('.popup-backdrop');
            if (backdrop) {
                backdrop.remove(); // Remove o fundo escuro
            }
        }

        // Evento para "Horário Escolinha"
        schoolTimeButton.addEventListener('click', (e) => {
            e.preventDefault(); // Previne a execução direta
            selectedDate = document.getElementById('selected-date').value; // Captura a data selecionada
            selectedTime = document.getElementById('selected-time').value; // Captura o horário selecionado
            showConfirmationPopup('Tem certeza que deseja configurar este horário como Escolinha?', markAsSchoolTime); // Exibe o pop-up com Escolinha
        });

        // Função para marcar o horário como Escolinha
        function markAsSchoolTime() {
            fetch(`http://localhost:8080/api/agenda?dia=${selectedDate}`)
                .then(response => response.json())
                .then(agendas => {
                    const horario = agendas.find(item =>
                        item.hora === selectedTime && item.dia === selectedDate // Verifica dia e hora
                    );

                    if (!horario) {
                        alert("Erro: Não foi possível encontrar o horário no banco de dados.");
                        return;
                    }

                    // Chamar o endpoint para marcar como Escolinha
                    fetch(`http://localhost:8080/api/agenda/${horario.id}/escolinha`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                alert('Horário marcado como Escolinha!');
                                // Atualiza o botão no front-end
                                const buttons = document.querySelectorAll('#time-slots button');
                                buttons.forEach(button => {
                                    if (button.textContent === selectedTime) {
                                        button.disabled = true; // Desativa o botão
                                        button.classList.add('escolinha'); // Aplica a classe escolinha
                                        button.textContent += ' (Escolinha)'; // Adiciona o texto
                                    }
                                    closeConfirmationModal();
                                });
                            } else {

                            }
                        })
                        .catch(error => {
                            ;
                        });
                })
                .catch(error => {

                });
        }



        // Função para exibir a data selecionada
        function renderDate(date) {
            const dateSlots = document.getElementById('date-slots');
            dateSlots.innerHTML = `<li class="date-slot-item">${date}</li>`;
        }

        // Função para exibir os horários
        function renderTimeSlots(data) {
            const timeSlots = document.getElementById('time-slots');
            timeSlots.innerHTML = '';

            // Ordena os horários em ordem crescente
            data.sort((a, b) => a.hora.localeCompare(b.hora));

            data.forEach(item => {
                const li = document.createElement('li');
                const button = document.createElement('button');

                // Define a classe e o estado do botão com base no status de agendamento
                button.className = item.statusAgendamento ? 'disponivel' : 'reservado';
                button.textContent = item.hora;
                button.disabled = !item.statusAgendamento;

                // Adiciona o evento de clique para abrir o modal de confirmação
                button.addEventListener('click', () => {
                    showConfirmationModal(item.dia, item.hora);
                });

                li.appendChild(button);
                timeSlots.appendChild(li);
            });
        }

        // Função para exibir o modal de confirmação
        function showConfirmationModal(dia, hora) {
            const modal = document.getElementById('confirmation-modal');
            const selectedDate = document.getElementById('selected-date');
            const selectedTime = document.getElementById('selected-time');

            selectedDate.value = dia;
            selectedTime.value = hora;

            modal.style.display = 'block';
        }

        // Event listeners para fechar os modais
        window.onclick = function (event) {
            const confirmationModal = document.getElementById('confirmation-modal');
            const successModal = document.getElementById('success-modal');
            if (event.target === confirmationModal) {
                closeConfirmationModal();
            }
            if (event.target === successModal) {
                closeSuccessModal();
            }
        };

        function formatarData(data) {
            const [ano, mes, dia] = data.split('-'); // Divide a data no formato "ano-mês-dia"
            return `${dia}/${mes}/${ano}`; // Retorna no formato "dia-mês-ano"
        }

        document.addEventListener('DOMContentLoaded', function () {
            const precoSelect = document.getElementById('preco');
            const customPriceContainer = document.getElementById('custom-price-container');
            const customPriceInput = document.getElementById('custom-price');

            // Atualiza a visibilidade do campo de preço personalizado
            precoSelect.addEventListener('change', function () {
                if (precoSelect.value === 'custom') {
                    customPriceContainer.style.display = 'block';
                } else {
                    customPriceContainer.style.display = 'none';
                    customPriceInput.value = ''; // Limpa o campo de preço personalizado
                }
            });
        });

        document.getElementById("preco").addEventListener("change", function () {
    const customPriceContainer = document.getElementById("custom-price-container");
    if (this.value === "custom") {
        customPriceContainer.style.display = "block";
    } else {
        customPriceContainer.style.display = "none";
    }
});

    </script>

</body>

</html>